<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <title>Repeat Counter</title>
</head>
<body>
  <div class="container">
    <h1>How many times?</h1>

  </div>
  <form class="center" action="/instance">
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="word">Enter word:</label>
        <input class="input" id="word" name="word" type="text" maxlength="10" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="sentance">Enter sentance:</label>
        <input class="wide-input" id="sentance" name="sentance" type="text" maxlength="200" required>
      </div>
    </div>
    </div>
    <button type="submit" class="btn-primary">Test!</button>
  </form>
</body>
</html>
