<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <title>Anagram Comparator</title>
</head>
<body>
  <div class="container">
    <h1>Anagram Comparator</h1>

  </div>
  <form class="center" action="/generate" method="post">
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="word">Enter word:</label>
        <input class="wide-input" id="word" name="word" type="text" maxlength="200" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-4">
        <label for="words">Enter words to compare against:</label>
        <input class="wide-input" id="words" name="words" type="text" maxlength="200" required>
      </div>
    </div>
    </div>
    <button type="submit" class="btn-primary">Test!</button>
  </form>
</body>
</html>
