<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Instances</title>
</head>
<body>
  <div class="container">
    <h2>Your word appears</h2>
    <h1>{{ number_of_times }} times</h1>
  </div>
  <form class="center" action="/">
    <button type="submit" class="btn-success">Return Home</button>
  </form>
</body>
</html>
